@font-face {
    font-family: fontbold;
    src: url("../fonts/Product Sans Bold.ttf") format('truetype');
}

@font-face {
    font-family: fontbolditalic;
    src: url("../fonts/Product Sans Bold Italic.ttf") format('truetype');
}

@font-face {
    font-family: fontitalic;
    src: url("../fonts/Product Sans Italic.ttf") format('truetype');
}

@font-face {
    font-family: fontregular;
    src: url("../fonts/Product Sans Regular.ttf") format('truetype');
}
:root{
    --appback: #111111;
    --appwhite: #FFF5F5F5;
    --appcontrast: #ffa7a7;
}
html,body{
    overflow-x: hidden !important;
}
html{
    scroll-behavior: smooth;
}
.store {
    width: 90%;
    margin: 0 auto;
}

.latest {
    width: 100%;
}

.latest div img{
    width: 100%;
}
@media (min-width: 900px) {
    .latest div img{
        width: 100%;
    }
}
.store div img{
    /*width: 200px;*/
    /*height: 200px;*/
}
.slick-slide{
    outline:none !important;
}
.mainheading{
    font-size: 45px;
    font-family: fontitalic;
    color:var(--appwhite);
}
.mainheading span{
    font-weight: bold;
    font-size: 50px;
    font-family: fontbolditalic;
    color:var(--appwhite);
}
footer{
    position: relative;
    bottom: 0;
    background-color: #747474;
    color: var(--appwhite);
    font-family: fontregular;
}
.products{
    display: block;
    margin:10px;
}
.productimg{
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    transition: 0.4s;
    filter:drop-shadow(0 0 10px black);
}

.productname{
    display: inline-block;
    text-align: center !important;
    color: var(--appwhite);
    font-family: fontregular;
}
.productprice{
    padding-right: 10px;
    display: inline-block;
    color: var(--appwhite);
    position: relative;
    float: right;
    font-family: fontbold;
    font-size: 15px;
}
.productcategory{
    padding-left: 10px;
    display: inline-block;
    color: var(--appwhite);
    position: relative;
    float: left;
    font-family: fontbold;
    font-size: 15px;
}
a{
    text-decoration: none !important;
    color: var(--appwhite);
}
nav{
    border-bottom: #7f7e7e;
}
#brandlogo{
    color: var(--appwhite);
    font-family: fontbolditalic;
    font-size: 30px;
}
.member{
    padding-top: 10px;
}
.memberimg{
    height:150px;
    border-radius: 50%;
}
.membername{
    font-family: fontregular;
    font-size: 30px;
    color:var(--appwhite);
}
.memberdesignation{
    font-family: fontitalic;
    font-size: 20px;
    color:grey;
}
.form-control{
    margin-top:10px;
    border-radius: 30px;
    width: 50% !important;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    background-color: transparent;
    color: var(--appwhite);
}
.form-control:focus{
    background-color: transparent;
    color: var(--appwhite);
}
.btn{
    border-radius: 30px !important;
}
.seeworking{
    width:100%;
    color:#343a40;
    background-color: #d7b6fd;
    position: relative;
    transition:0.2s;
}
.seeworking:hover{
    background-color: #343a40;
    color:#d7b6fd;
    text-shadow: 5px 4px 3px rgba(243, 242, 182,0.6);
    font-size: 18px;
    cursor:pointer;
    transition: 0.2s;
}
.socialhandles{
    height:200px;
    width: 50px;
}

.latest .slick-next{
    display: none !important;
}
.latest .slick-prev{
    display: none !important;
}

/*loader*/
.loader{
    background-color: #343a40!important;
    width:100%;
    height:100%;
    position:fixed;
    z-index: 999;
}
.loadertext{
    display: inline-block;
    position: fixed;
    left:43%;
    top:45%;
    color:var(--appwhite);
    font-size:60px;
    font-family: fontitalic;
}
.lds-ripple {
    display: inline-block;
    position: fixed;
    width: 80px;
    height: 80px;
    left:43%;
    top:43%;
}
.lds-ripple div {
    position: absolute;
    border: 4px solid #fff;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}

@keyframes lds-ripple {
    0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: 0px;
        left: 0px;
        width: 72px;
        height: 72px;
        opacity: 0;
    }
}
/*loader*/

/*navbar*/
.container > header {
    margin: 0 auto;
    padding: 2em;
    text-align: center;
    background: rgba(0,0,0,0.01);
}

.container > header h1 {
    font-size: 2.625em;
    line-height: 1.3;
    margin: 0;
    font-weight: 300;
}

.container > header span {
    display: block;
    font-size: 60%;
    opacity: 0.7;
    padding: 0 0 0.6em 0.1em;
}

.container > section {
    padding: 2em;
    font-size: 1.4em;
    max-width: 50em;
    margin: 0 auto;
}

.container > section p {
    padding: 0.8em 0;
    text-align: justify;
    opacity: 0.5;
    font-weight: 300;
    line-height: 1.4;
}
/*navbar*/

#store,#youtubevideos{
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 20px black;
    padding: 10px;
}


.ytvideos-for{
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
}
.ytvideos-for div img{
    width:100%;
    min-height: 100%;
    border-radius: 30px;
}
.ytvideos-nav div img{
    width:50%;
    margin: 0 auto;
    border-radius:10px;
    cursor:pointer;
}
.ytvideos-nav{
    padding-top: 20px;
    padding-bottom: 20px;
    width: 80%;
    height: auto;
    margin: 0 auto;
}

.ytcontainer {
    position: relative;
    width: 50%;
}

.ytimage {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.ytoverlay {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.ytcontainer:hover .ytimage {
    opacity: 0.3;
    cursor:pointer;
}

.ytcontainer:hover .ytoverlay {
    opacity: 1;
    cursor:pointer;
}

.ytlogo {
    color:red;
    font-size:250% !important;
}

.inboxheading{
    font-family: fontbold;
    font-size: 30px;
    color: var(--appback);
    text-align: right !important;
}
/*.lityestheading{*/
/*    font-family: fontbolditalic;*/
/*    font-size: 20px;*/
/*    color: var(--appwhite);*/
/*}*/

i:hover{
    text-shadow: 0 0 10px #343a40;
}
.fa-github{
    color: black;
    font-size: 40px;
    padding: 10px;
}
.fa-linkedin{
    color: #0e76a8;
    font-size: 40px;
    padding: 10px;
}
.fa-facebook{
    color:#3b5998;
    font-size: 40px;
    padding: 10px;
}
.fa-instagram{
    color:#8a3ab9;
    font-size: 40px;
    padding: 10px;
}
.fa-twitter{
    color:#00acee;
    font-size: 40px;
    padding: 10px;
}
.fa-envelope{
    color:#ff5555;
    font-size: 40px;
    padding: 10px;
}
@media (min-width: 700px) {

    .fa-github{
        color: black;
        font-size: 60px;
        padding: 10px;
    }
    .fa-linkedin{
        color: #0e76a8;
        font-size: 60px;
        padding: 10px;
    }
    .fa-facebook{
        color:#3b5998;
        font-size: 60px;
        padding: 10px;
    }
    .fa-instagram{
        color:#8a3ab9;
        font-size: 60px;
        padding: 10px;
    }
    .fa-twitter{
        color:#00acee;
        font-size: 60px;
        padding: 10px;
    }
    .fa-envelope{
        color:#ff5555;
        font-size: 60px;
        padding: 10px;
    }
}
footer{
    margin-top: 30px;
    position: relative;
    bottom:0;
    background-color: var(--appcontrast);
    height: 14vh;
    border-top-left-radius: 100%;
    padding-bottom: 20px;
}
#socialhandles{
    margin-left: auto;
    margin-right:auto;
    background-color: var(--appcontrast);

    /*border-top:10px solid var(--appcontrast);*/
    border-top-left-radius: 100%;
    border-bottom-left-radius: 30px;
    margin-left: 15px;
    /*border-bottom-right-radius: 100%;*/
    padding: 20px;
    /*transform: skewY(-10deg);*/
    box-shadow: 0 0 10px black;
}
#copyright{
    text-align: right;
    color: var(--appback);
    font-size: 20px;
    font-family: fontregular;
    padding-right: 20px;
    padding-top: 20px;
}