@font-face {
    font-family: fontbold;
    src: url("../fonts/Product Sans Bold.ttf") format('truetype');
}

@font-face {
    font-family: fontbolditalic;
    src: url("../fonts/Product Sans Bold Italic.ttf") format('truetype');
}

@font-face {
    font-family: fontitalic;
    src: url("../fonts/Product Sans Italic.ttf") format('truetype');
}

@font-face {
    font-family: fontregular;
    src: url("../fonts/Product Sans Regular.ttf") format('truetype');
}
:root{
    --appback: #111111;
    --appwhite: #FFF5F5F5;
}
html,body{
    overflow-x: hidden !important;
    overflow-y:scroll!important;
}
.store {
    width: 100%;
    margin: 0 auto;
}
/*.container{*/
/*    margin:1px !important;*/
/*    padding-right: 0 !important;*/
/*    padding-left: 0 !important;*/
/*    margin-left: 0 !important;*/
/*    margin-right: 0 !important;*/
/*}*/

.latest {
    margin-top: 30px;
    width: 100%;
}
.latest div img{
    width: 100%;
}
.store div img{
    /*width: 200px;*/
    /*height: 200px;*/
}
.mainheading{
    font-size: 4vw;
    font-family: fontitalic;
    color:var(--appwhite);
}
.mainheading span{
    font-weight: bold;
    font-size: 5vw;
    font-family: fontbolditalic;
    color:var(--appwhite);
}
footer{
    position: relative;
    bottom: 0;
    background-color: #747474;
    color: var(--appwhite);
    font-family: fontregular;
}
.products{
    display: block;
    margin:10px;
}
.productimg{
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    transition: 0.4s;
}

.productname{
    display: inline-block;
    text-align: center !important;
    color: var(--appwhite);
    font-family: fontregular;
}
.productprice{
    padding-right: 10px;
    display: inline-block;
    color: var(--appwhite);
    position: relative;
    float: right;
    font-family: fontbold;
    font-size: 15px;
}
.productcategory{
    padding-left: 10px;
    display: inline-block;
    color: var(--appwhite);
    position: relative;
    float: left;
    font-family: fontbold;
    font-size: 15px;
}
a{
    text-decoration: none !important;
    color: var(--appwhite);
}
nav{
    border-bottom: #7f7e7e;
}
#brandlogo{
    color: var(--appwhite);
    font-family: fontbolditalic;
    font-size: 20px;
}
.member{

}
.memberimg{
    height:10vw;
    border-radius: 50%;
}
.membername{
    font-family: fontregular;
    font-size: 30px;
    color:var(--appwhite);
}
.memberdesignation{
    font-family: fontitalic;
    font-size: 20px;
    color:grey;
}
.form-control{
    margin-top:10px;
    border-radius: 30px;
    width: 50% !important;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}
.btn{
    border-radius: 30px !important;
}
.seeworking{
    width:100%;
    color:#343a40;
    background-color: #d7b6fd;
    position: relative;
    transition:0.2s;
}
.seeworking:hover{
    background-color: #343a40;
    color:#d7b6fd;
    text-shadow: 5px 4px 3px rgba(243, 242, 182,0.6);
    font-size: 18px;
    cursor:pointer;
    transition: 0.2s;
}
.socialhandles{
    height:200px;
    width: 50px;
}